/*CSS PRESENTE EM TODAS AS PÁGINAS HTML*/

/*Fontes de texto usadas no site*/
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Red+Rose:wght@300..700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    flex-direction: column;
    margin: 0px;
}   

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.header {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 223px;

    background-color: #DEDAC0;

    font-size: 30px;
    font-weight: bold;
    font-family: "Red Rose", Arial, Helvetica, sans-serif;

    gap: 1vw;
}

.nav-header {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CEC3B2;

    a {
        font-family: "Krub", Arial, Helvetica, sans-serif;
        font-size: 23px;
        color: black;
    }
}

.item-nav-header {
    justify-content: center;
    align-items: center;

    min-width: 225px;
    min-height: 42px; 
                   
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.inh1, .inh3 {
    margin-inline: -2.5px;
    border-inline: 2.5px #21211D solid;
}

.inh2 {border-inline: 2.5px #21211D solid; }

.footer {   
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 110px;
    background-color: #DEDAC0;

    p {
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        font-family: "Krub", Arial, Helvetica, sans-serif;                                      
        margin: 0px;

        position:relative;
        top: 10px;
    }
}

/*PÁGINA INICIAL*/


.bodyinicio {
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 100vh;
    
    background-color: #21211D;
}

.items {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: #D9D9D9;

    min-height: 350px;
    min-width: 230px;

    border-radius: 30px;
    margin-inline: 10px;

    .figureestrelas img {
        position: relative;
        top: 15px;

        height: 25px;
        width: 25px;
        margin-inline: -1px;
    }

    figcaption {
        font-family: "Orienta", Arial, Helvetica, sans-serif;
        color: #69FF91;

        /* bem chato */
        text-shadow:
        2px 0 #000,
        -2px 0 #000,
        0 2px #000,
        0 -2px #000,
        1px 1px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black,
        1.5px 1.5px 1px black,
        -1.5px 1.5px 1px black,
        1.5px -1.5px 1px black,
        -1.5px -1.5px 1px black;

        font-size: 25px;

        position: relative;
        bottom: 10px;
    }
}

/*PÁGINA DE DETALHES*/ 


.bodydetalhes {
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: #21211D;
    min-height: 100vh;
    
    font-family: "Scada", Arial, Helvetica, sans-serif;
    color:white;
    gap:40px;
}

.figuredetalhes {
    justify-content: center;
    align-items: center;

    background-color: #D9D9D9;

    min-width: 467px;
    min-height: 582px;  

    border-radius: 30px;
}

.asidedetalhes {p {font-size: 25px;}}

.topodetalhes {
    justify-content: center;
    align-items: center;

    position:relative;
    top: 50px;
    gap: 15px;

    h1 {
        font-family: "Red Rose", Arial, Helvetica, sans-serif;
        font-size: 45px;
    }

    .figureestrelas img {margin-inline: -1px;}

    h2 {
        font-family: "Red Rose", Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
}

.precodetalhes {
    position: relative;
    top:10px;
    color: #69FF91;
    font-family: "Orienta", Arial, Helvetica, sans-serif;
}

.infodetalhes {
    flex-direction: column;
    p {
        font-size: 25px;
        font-family: "Orienta", Arial, Helvetica, sans-serif;
        margin-block: 3px;
    }
    margin-bottom: 60px;
}

.adicionarcarrinho {
    flex-direction: row;
    align-items: center;

    max-height: 95px;
    max-width: 410px;
    
    font-weight: bold;
    background-color: #5B48FF;

    img {
        margin-left: 20px;
    }

    gap: 18px;

    p {
        font-size: 28px;
        color:white;    
    }

    margin-bottom:85px;
}


/*PÁGINA DE CONTATO*/

.bodycontato {
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;                                  
    color:white;
    background-color: #21211D;
}

.contatotexto {
    align-items: center;
    position: relative;
    left:-400px;
    flex-wrap: wrap;

    font-size: 23px;
    color:white;

    background-color: #21211D;
    font-family: "Red Rose", monospace, Arial, Helvetica, sans-serif;

    gap: 0.6vw;
}

.linhaform {
    font-size: 30px;
    font-family: "Red Rose", monospace, Arial, Helvetica, sans-serif;
    font-weight: bold;
    gap:85px;
}

.formulario {
    zoom: 150%;
    position: relative;
    top:-60px;

    textarea::placeholder, input::placeholder {
        font-family: "Scada", Arial, Helvetica, sans-serif;
        color: #848484;
    }

    input:focus, select:focus, textarea:focus, button:focus {
        outline: none;
    }
    
    input{
        margin-block: 11px;
        min-height: 40px;
        min-width: 320px;
    }
    
    textarea {
        margin-top: 11px;
        margin-bottom: 3px;
        padding-top: 12px;
        min-width: 320px;
        min-height: 105px;
        overflow: auto;
        resize: none;
    }

    textarea, input {
        padding-left:15px;
        
        font-size:17px;
        font-weight: bold;
        font-family: monospace;
        background-color: #D9D9D9;
        border: 0px;
    }

    #submit {
        font-family: "Scada", Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: left;
        min-height: 45px;
        min-width: 170px;
        color: white;
        background-color: #5B48FF;
        font-weight: bold;
        border: 0px;
    }
}