/*CSS PRESENTE EM TODAS AS PÁGINAS HTML*/

/*Fontes de texto usadas no site*/
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Red+Rose:wght@300..700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    flex-direction: column;
    margin: 0px;
}   

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.header {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 223px;

    background-color: #DEDAC0;

    font-size: 30px;
    font-weight: bold;
    font-family: "Red Rose", Arial, Helvetica, sans-serif;

    figure {
        position: relative;
        left: 15px;
    }

    h1 {
        position: relative;
        right: 15px;
    }
}

.nav-header {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CEC3B2;

    a {
        font-family: "Krub", Arial, Helvetica, sans-serif;
        font-size: 23px;
        color: black;
    }
}

.item-nav-header {
    justify-content: center;
    align-items: center;

    min-width: 225px;
    min-height: 42px; 
                   
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.inh1, .inh3 {
    border-inline: 2.5px #21211D solid;  
}

.footer {   
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 110px;
    background-color: #DEDAC0;

    p {
        font-size: 23px;
        font-weight: bold;
        font-family: "Krub", Arial, Helvetica, sans-serif;                                      
        margin: 0px;

        position:relative;
        top: 10px;
    }
}

/*PÁGINA INICIAL*/

.bodyinicio {
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 100vh;
    
    background-color: #21211D;
}

.items {
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #D9D9D9;

    min-height: 350px;
    min-width: 230px;

    border-radius: 30px;
    margin-inline: 20px;   
}

/*PÁGINA DE DETALHES*/ 

.bodydetalhes {
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: #21211D;
    min-height: 100vh;
    
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.figuredetalhes {
    justify-content: center;
    align-items: center;

    background-color: #D9D9D9;

    min-width: 467px;
    min-height: 582px;  

    border-radius: 30px;
    margin-inline: 20px;
}

.topodetalhes {
    flex-direction: row;
    align-items: center;
    h1 {
        font-family: "Red Rose", Arial, Helvetica, sans-serif;
        font-size: 40px;
    }
    h2 {
        font-family: "Red Rose", Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
}

.asidedetalhes {
    p {
        font-size: 24px;
    }
    margin-left: 94px;
}

.infodetalhes {
    flex-direction: column;
    p {
        font-size: 25px;
        font-family: "Orienta", Arial, Helvetica, sans-serif;
        margin-block: 3px;
    }
    margin-bottom: 68px;
}

.precodetalhes {
    color: #69FF91;
}

.adicionarcarrinho {
    flex-direction: row;
    align-items: center;

    min-height: 113px;
    min-width: 454px;
    
    
    font-weight: bold;
    background-color: #5B48FF;

    figure {
        position: relative;
        left: -10px;
    }
    p {
        zoom: 150%;
        color:white;    
        position: relative;
        left: -20px;
    }
}

/*PÁGINA DE CONTATO*/

.bodycontato {
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;                                  
    color:white;
    background-color: #21211D;
}

.contatotexto {
    align-items: center;
    position: relative;
    left:-333px;
    flex-wrap: wrap;

    font-size: 20px;
    color:white;

    background-color: #21211D;
    font-family: "Red Rose", monospace, Arial, Helvetica, sans-serif;
    figure {
        position:relative;
        left: -30px;
    }
}

.linhaform {
    font-size: 25px;
    font-family: "Red Rose", monospace, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.formulario {
    zoom:125%;
    position: relative;
    top:-60px;

    margin-inline: 73px;

    textarea::placeholder, input::placeholder {
        font-family: "Scada", Arial, Helvetica, sans-serif;
        color: #848484;
    }

    input:focus, select:focus, textarea:focus, button:focus {
        outline: none;
    }
    
    input{
        
        min-height: 40px;
        min-width: 300px;
        
    }
    
    textarea {
        padding-top: 12px;
        min-width: 300px;
        min-height: 105px;
        overflow: auto;
        resize: none;
    }

    textarea, input {
        padding-left:15px;
        margin-block: 10px;
        font-size:15px;
        font-weight: bold;
        font-family: monospace;
        background-color: #D9D9D9;
        border: 0px;
    }

    #submit {
        font-family: "Scada", Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: left;
        min-height: 45px;
        min-width: 170px;
        color: white;
        background-color: #5B48FF;
        font-weight: bold;
        border: 0px;
    }
}